.header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(29, 29, 31, 0.85);
  backdrop-filter: blur(1px) saturate(2) brightness(0.8);
  line-height: 60px;
  padding: 0 1rem;
}

.container-footer {
  background-color: rgba(29, 29, 31, 0.85);
  box-shadow: inset 0px 0px 100px 1px rgba(0, 0, 0, 0.5);
  padding: 3rem 1rem;
  color: white;
}

.header-text {
  font-size: 1.5rem;
  color: rgb(245, 245, 245);
}

.header-logo {
  display: inline;
  margin-top: 8px;
  margin-bottom: 5px;
}

.header-logo-image {
  width: 90px;
  height: auto;
}

.header-item {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: inline;
  margin-top: 5px;
}

.header-item-link {
  text-decoration: none;
  color: white;
}

.header-item-link:hover {
  color: gray;
  transition: all ease .3s;
}

.footer-item {
  list-style: none;
  padding: 0 20px;
  margin-top: 35px;
  margin-bottom: 35px;
}

@media (max-width: 968px) {
  .header-text {
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  .header-text {
    font-size: .8rem;
  }

  .header-item {
    display: block;
    margin-top: -17px;
  }

  .header-logo-image {
    width: 20%;
    height: auto;
  }

  .header {
    position: relative;
    max-height: 140px;
    text-align: center;
    display: block;
  }
}
