.container {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.column1-2 {
  float: left;
  width: 50%;
  margin-top: 20px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.block {
  align-content: flex-start;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.row {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.block-item-3 {
  width: 32%;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-top: 30px;

}

.block-item-2 {
  width: 50%;
  flex-wrap: wrap;
  flex-direction: column;
}

.block-item-3-3 {
  border-radius: 2rem;
  width: 31%;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #ccc;
  background: #E7E7E7;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.3));
  margin-top: 30px;
}

.block-item-4 {
  width: 25%;
  flex-wrap: wrap;
  flex-direction: column;
}

.block-item-5 {
  width: 20%;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (max-width: 840px) {
  .block {
    flex-wrap: wrap;
  }

  .block-item-4 {
    flex-grow: 1;
    width: 40%;
  }

  .block-item-3-3, .block-item-3 {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .block {
    flex-wrap: wrap;
  }

  .block-item-2 {
    width: 100%;
  }

  .header {
    position: relative;
    height: 15rem;
    padding-left: 0;
    margin-left: -16px;
    text-align: center;
    display: block;
  }
}
