.reviews {
  padding: 40px 0;
}

.reviews-item {
  border: 1px solid #ccc;
}

.reviews-text {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 13px;
}

.quotes {
  color: #ECBD00;
  font-size: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.reviews-image {
  float: left;
  border-radius: 100%;
  height: 70px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;

}

.reviews .reviews-item .reviews-image {
  width: 15%; /* Ширина изображений */
  height: 15%; /* Высота изображении */
  object-fit: cover; /* Вписываем фотографию в область */
}


.list .list-item .list-1 { 
 width: 80%; /* Ширина изображений */
 height: 0%; /* Высота изображении */
 object-fit: cover; /* Вписываем фотографию в область */
}