/*.foto-tours, .destination, .destination-footer {
  border-radius: 5px;
}*/

.tours {
  width: 100%;
  margin: auto;



}

.foto-tours {
  width: 270px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  object-fit: scale-down
}

.tours .foto-tours { 
 width: 90%; 
 height: 90%;  
 object-fit: cover; 
}

.destination {
  background: #eee;
  width: 100%;
  
}

/*.destination-footer {
  background: #e3e3e3;
  color: gray;
  padding: 5px 0;
  vertical-align: bottom;
}*/

.text-item {
  font-size: 13px;
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.prices {

}
